.main {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.supermillerhead {
  margin-top: 300px;
  width: 100%;
  height: 80vh;
  background: url("./img/car_bg.jpg");
  background-size: cover;
}

.img1 {
  background-size: cover;
  width: 100%;
  height: 595px;
  color: #fff;
}

.supermillerhead h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  /* position: absolute; */
  top: 20px;
  left: 40%;
  color: #fff;
}

.title_para {
  text-align: center;
  font-size: 18px;
  margin: 0;
  /* position: absolute; */
  padding-top: 20px;
  top: 20px;
  left: 30%;
  color: #fff;
}

.carList {
  margin-top: 100px;
}

.carList {
  width: 70%;
}
.row {
  /* display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; */

  /* position: absolute; */

  padding-top: 70px;

  top: 120px;
  left: 220px;
  right: 220px;
  margin-left: 150px;

  color: #fff;

  display: none;
}

.row .carimg {
  margin-top: -180px;
  margin-left: 150px;
  height: 150px;

  float: left;
}
.row .name {
  margin-top: -250px;
  margin-left: 450px;
  font-size: 60px;
}

.row .price {
  font-size: 22px;
  margin-left: 450px;
}

.row .groups {
  font-size: 18px;
  margin-left: 450px;
}

.changep {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  margin-left: 170px;
}

.arrowmiddle {
  top: 0;
  height: 120px;
  width: 120px;
  border: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
}

.leftmiddle {
  margin-top: 0px;
  transform: rotate(130deg);
  margin-left: 110px;
}

.rightmiddle {
  margin-top: -121px;
  transform: rotate(-45deg);
  margin-left: 1200px;
}
